<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IdentranAccess">

        <activity
            android:name=".Activity.FavListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.IdentranAccess" />
        <activity
            android:name=".Activity.CreateUserListActivity"
            android:exported="false"
            android:label="@string/title_activity_create_user_list"
            android:theme="@style/Theme.IdentranAccess" />
        <activity
            android:name=".Activity.QRPageActivity"
            android:exported="true"
            android:label="@string/title_activity_qrpage"
            android:theme="@style/Theme.IdentranAccess" />
        <activity
            android:name=".Activity.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegistrationPage"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.IdentranAccess">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

     <!--   <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.trendoceans.fileshare.MainActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>-->
    </application>

</manifest>